<%= form_with(model: message) do |form| %>
  <% if message.errors.any? %>
    <div style="color: red">
      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone, placeholder: 'Enter phone number' %>
  </div>

  <div>
    <%= form.label :Message, style: "display: block" %>
    <%= form.text_field :body, placeholder: 'Write your message' %>
  </div>

  <div>
    <span>
      <%= form.submit 'Send' %>
    </span>
  </div>
<% end %>
