<div class="message" id="<%= dom_id message %>">
  <div class="message-content">
    <p>
      <strong>User</strong> <%= message.id %>:
      <%= message.body %>
    </p>
  </div>
  <div class="message-actions">
    <div class="message-buttons">
      <%= button_to "Edit", edit_message_path(message), class: "btn btn-primary", method: :post %>
      <%= button_to "Delete", message, method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
</div>
